[Unit]
Description=starting python
After=autoStart_julius.service

[Service]
ExecStart=/home/pi/bezelie/dev_edgar/boot_python.sh
Type=simple
Restart=no
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
