[Unit]
Description = starting julius
After=syslog.target

[Service]
ExecStart=/home/pi/bezelie/dev_edgar/exec_juliusChat.sh
Restart=no
Type=simple
StandardOutput=syslog
StandardError=syslog
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
