[Unit]
Description=starting python app
After=autoStart_julius.service

[Service]
User=pi
Group=pi
ExecStart=/home/pi/bezelie/dev_edgar/boot_python.sh
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target
