[Unit]
Description=starting python
After=local-fs.target
ConditionPathExists=/opt/bezelie/bin

[Service]
ExecStart=/opt/bezelie/bin/boot_python.sh
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target
