<!-- トップページ -->

<p><%= message %></p>

<hr>
<H3>基本機能</H3>
<ul>
<p><a href="/editChat">対話データの編集</a></p>
<p><a href="/editBasic">基本設定（マイク感度や音量など）</a></p>
<p><a href="/editTime">時間設定（アラームや活動時間）</a></p>
<p><a href="/editServo">サーボの初期位置の調整</a></p>
<p><a href="/starting_pythonApp">プログラム再起動（上記の各種データを編集したら、プログラムに反映するために再起動してください）</a></p>
</ul>
<H3>開発者向け機能</H3>
<ul>
<p><a href="/reboot">システム再起動</a></p>
<p><a href="/disableServer">対話プログラムを停止し、ラズパイのアクセスポイント化を解除して再起動（ラズパイをWiFiにつないで開発作業をしたいときに選択してください。元の状態に戻すにはLinuxの知識が必要です）</a></p>
</ul>
<H3>リンク</H3>
<ul>
<p><a href="http://bezelie.com">ベゼリー公式ページ</a></p>
</ul>
<script>
</script>
