[Unit]
Description=julius
;Before=hug_response@.service

[Service]
User=pi
Group=pi
ExecStart=/home/pi/hug/bin/boot_julius.sh
Type=simple
;Type=oneshot
Restart=always
Restart=no
KillMode=control-group

[Install]
WantedBy=multi-user.target
